DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=leadbridge
KEYCLOAK_ADMIN_PASSWORD=admin
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
KEYCLOAK_ISSUER_URI=http://localhost:8180/realms/leadbridge
KEYCLOAK_SERVER_URL=http://localhost:8180
